@charset "UTF-8";

@font-face {
    font-family: pixel;
    src: url(Pokemon_GB.ttf);
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: #87cfeb8e;
}

#instru {
    display: block;    
    width:75%;
    padding: 10px;
    margin: auto;
    margin-top: 55px;
    border: 20px solid #BE2801;
    border-radius: 10px;
    background-color: #ffd3b1;
    text-align: center;
    font-family: 'pixel', 'Courier New', Courier, monospace;
    font-size: 11pt;
    color: #BE2801;
}

#instru h1 {
    padding-bottom: 15px;
    font-size: 18pt;
}

#instru ul {
    list-style-position: inside;
    list-style-type: square;
    line-height: 2;
}

#instru p {
    padding-top: 20px;
    font-size: 8pt;
    line-height: 1.6;
}

#instru>p>a {
    color: #BE2801;
    font-weight: bold;
    text-decoration: none;
}

#instru a:hover {
    color: #be27019f;
}

/*Overflow hidden esconde os elementos que começam e terminam fora do game-board*/
.game-board {    
    position: relative;    
    outline: 40px solid #0143beb7;
    border-radius: 1px 1px 100px 1px;
    margin: 0 auto;
    margin-top: 50px;
    width: 60%;
    height: 380px;
    overflow: hidden;
    background: linear-gradient(to bottom, #87CEEB, #E0F6FF);
}

#decor {
    width: 100%;
    height: 380px;
    border-bottom: 25px solid #007A04; 
}

.nuvens {
    position: absolute;
    width: 350px;
    animation: clouds-animation 10s infinite linear;
}

/*A animação do pipe acontece da direita->esquerda dura 2s em loop infinito e velocidade linear*/
.pipe {
    position: absolute;
    bottom: 0;
    width: 70px;
    animation: pipe-animation 1.7s infinite linear;
    right: -70px;
}

.mario {
    position: absolute;
    bottom: 0;
    width: 150px;
}

.jump {
    animation: jump 700ms infinite ease-out;
}

@keyframes pipe-animation {
    /*Animação começa na direita*/
    from {
        right: 0;
    }
    /*Animação corre para final-direita (esquerda)*/
    to {
        right: 100%;
    }
}

@keyframes clouds-animation {
    from {
        right: -550px;
    }
    to {
        right: 100%;
    }
}

@keyframes jump {
    /* PULO DO MARIO
      início - 0px
      meio - 160px
      fim - 0px*/

    0% {
        bottom: 0;
    }
    /* DURAÇÃO DO PULO*/
    40% {
        bottom: 160px;
    }
    50% {
        bottom: 160px;
    }
    60% {
        bottom: 160px;
    }
    /* FIM DURAÇÃO*/
    100% {
        bottom: 0;
    }
}
